<!DOCTYPE html>
<html>
<head>
  <title>Password Reset</title>
</head>
<body>
  <h1>Password Reset Request</h1>
  <p>Click the link below to reset your password:</p>
  <a href="{{resetLink}}">{{resetLink}}</a>
  <p>This link will expire in 1 hour.</p>
</body>
</html>