<!DOCTYPE html>
<html>
<head>
  <title>Email Verification</title>
</head>
<body>
  <h1>Welcome to {{appName}}!</h1>
  <p>Click the following link to verify your email:</p>
  <a href="{{verificationLink}}">{{verificationLink}}</a>
  <p>If you didn't request this, please ignore this email.</p>
</body>
</html>